footer {
    width: 100%;
    background-color: #4783DE
}

address {
    line-height: 2
}

.list-menu>li {
    list-style: none;
    font-family: 'LinotteRegular', serif;
    color: white;
    line-height: 2;
}

address>a {
    text-decoration: none;
    color: white;
}