<!-- footer desktop -->
<section>
    <footer>
        <div class="space-50"></div>
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-sm-9 footer__links--main d-none d-md-block">
                        <ul class="links">
                            <li>
                                <a onclick="return false" href="#" class="link-main">
                                    Empresa
                                </a>
                            </li>
                            <li>
                                <a href="//www.caracascoaching.com/nosotros/" title="Acerca de nosotros">
                                    Nosotros
                                </a>
                            </li>
                            <li>
                                <a href="//www.caracascoaching.com/blog" title="Blog">
                                    Blog
                                </a>
                            </li>
                            <li>
                                <a href="//www.caracascoaching.com/galeria" title="Galería">
                                    Galería
                                </a>
                            </li>
                            <li>
                                <a href="//www.caracascoaching.com/faqs/" title="FAQs">
                                        FAQs
                                </a>
                            </li>
                            <li>
                                <a href="//www.caracascoaching.com/events/" title="Próximos eventos">
                                        Eventos
                                    </a>
                            </li>
                            <li>
                                <a href="//www.caracascoaching.com/cursos/" title="Cursos más populares">
                                        Cursos Populares
                                    </a>
                            </li>
                            <li>
                                <a href="#" title="sitemap">
                                        Mapa del sitio
                                    </a>
                            </li>
                            <li>
                                <a href="//www.caracascoaching.com/contacto/" title="Contácto">
                                        Contacto
                                    </a>
                            </li>
                            <li>
                                <a href="//www.caracascoaching.com" title="Inicio">
                                            Inicio
                                    </a>
                            </li>
                            <li>
                                <a href="//www.caracascoaching.com/become-a-teacher" title="Se instructor">
                                            Conviértete en instructor
                                        </a>
                            </li>
                            <li>
                                <a href="//www.caracascoaching.com/online-learning-glossary" title="Cursos populares">
                                            Áreas de formación
                                        </a>
                            </li>

                        </ul>
                    </div>
                    <div class="col-sm-3 offset-2 offset-md-0">
                        <a href="//www.caracascoaching.com">
                            <img title="Caracas coaching" src="./assets/images/logo.png" alt="CARACAS COACHING LOGO">
                        </a>
                    </div>
                </div>
            </div>
            <hr style="border: 1px solid #e8e9eb;">
            <div class="container">
                <div class="row">
                    <div class="col-sm text-center">
                        <h5 class="text-white LinotteRegular font-12">
                            <b>CARACAS COACHING</b> © 2019 Todos los derechos reservados | Diseñado por
                            <a class="link-creator" target="_blank" href="https://www.syftedesigns.com/es" title="Agencia de marketing">
                                SYFTE DESIGNS
                            </a>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</section>
<!-- end footer desktop -->
<!-- footer mobile -->